<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ModelStackerContainer" connectionString="metadata=res://*/ModelStacker.csdl|res://*/ModelStacker.ssdl|res://*/ModelStacker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=cellcontent;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

      <add key="CPUPARAMS_1" value="/IF=tcpip /LOPO=11159 /WT=60" />
    <add key="DEVPARAMS_1" value="/RT=1000 /DAIP=127.0.0.1 /REPO=11160 /ANSL=1 /WT=60" /> 

    <!---
    <add key="CPUPARAMS_1" value="/IF=tcpip /LOPO=11158 /SA=11 /WT=60" />
    <add key="DEVPARAMS_1" value="/RT=1000 /DAIP=192.168.0.1 /SA=11 /REPO=11159 /ANSL=1 /WT=60" /> -->

    <add key="CPUPARAMS_2" value="/IF=tcpip /LOPO=11159 /WT=60 /SA=10"  />
    <add key="DEVPARAMS_2" value="/RT=1000 /DAIP=192.168.0.2 /REPO=11159 /SA=10 /ANSL=1 /WT=60" /> 
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>